<mat-toolbar>
    <span>Zigbee2MQTT Multi Coordinator</span>
    <div class="select">
        <mat-form-field>
            <mat-label>Select coordinator</mat-label>
            <mat-select 
                [value]="selectedCoordinator"
                (selectionChange)="selectCoordinator($event.value)">
                <mat-option *ngFor="let coordinator of options?.coordinators" [value]="coordinator.name">
                    {{coordinator.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-toolbar>

<div class="iframe-container">
    <iframe [src]="frontendUrl"></iframe>    
</div>
